body {
  background-color: white;
}

.container {
  display: grid;
  display: flex;
  grid-template-columns: 900px;
  width: 900px;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-color: black;
  margin-top: 35px;
  margin-left: 500px;
}

.logotypbild {
  display: flex;
  margin-left: 8px;
  margin-top: 10px;
}

.logotyp {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  padding: 50px;
}

ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  margin-left: -270px;
}

nav ul li a {
  display: block;
  padding: 10px 10px;
  width: 110px;
  margin-top: 50px;
  margin-left: 230px;
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: large;
  text-align: center;
  border-radius: 5px;
}

a:hover {
  background-color: forestgreen;
  color: white;
}

.socialt {
  display: flex;
  justify-content: 
  margin-top: 50px;
}

#insta {
  padding: 60px 50px 0px 0px;
}

#faceb {
  padding: 60px 0px 0px 50px;
}

.text {
  align-items: center;
  margin-top: 70px;
  font-size: 50px;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    display: flex;
    grid-template-columns: 500px;
    width: 500px;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    border-color: black;
    margin-top: 35px;
    margin-left: 40px;
  }

  .logotypbild {
    visibility: hidden;
  }

  .logotyp {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    padding: 50px;
    margin-top: -150px;
  }

  ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-left: -180px;
  }

  nav ul li a {
    display: block;
    padding: 10px 10px;
    width: 110px;
    margin-top: 50px;
    margin-left: 120px;
  }

  .text {
    align-items: center;
    font-size: 50px;
    margin-top: 180px;
  }
}
