body {
  background-color: white;
}

.container {
  border: 1px solid;
  height: 800px;
  width: 1000px;
  margin-left: 450px;
}

nav ul li a {
  display: block;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  margin-left: 66px;
  margin-top: 50px;
  font-size: larger;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: forestgreen;
  color: white;
}

ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  text-align: start;
}

.info h1 {
  display: flex;
  justify-content: center;
}

.info p {
  display: flex;
  justify-content: center;

}

.bild {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}




